The packages needed to run the code is the textblob package.

We used the following in order to run the code:
cd classcode
cd textblobenv
  pip install -U TextBlob
  python -m textblob.download_corpora
  
cd Scripts
activate

We also imported random in order to create a random number
